# Dossiers
#Assets 
#Library ~ 
*Build
#Packages
#Logs
#UserSettings
#ProjectSettings
#UIElementsSchema

# Assets ~
#3D
#AI
*AssetsIn
*Character
#*Icon
*Materials
#Models
#Prefabs
#SavedData
#Scripts
#StoredData
*Terrain
*textures

# Library ~
*ArtifactDB
#SourceAssetDB
#Artifacts
#PlayerDataCache
#*PackageCache
#*BurstCache
#Bee
#*Search
#ScriptAssemblies
#ShaderCache
